.carouselContainer {
    position: relative;
    width: 100%;
    height: 400px;
    overflow: hidden;
    margin: 0 auto;
}

.imageContainer {
    position: relative;
    width: 100%;
    height: 100%;
    border-radius: 8px;
}

.button {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: rgba(0, 0, 0, 0.5);
    border: none;
    padding: 10px 15px;
    cursor: pointer;
}
.productImage{
    border-radius: 8px;
}