@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap");

/* @font-face {
    font-family: Manrope;
    src: url("https://fonts.googleapis.com/css2?family=Manrope:wght@300;400;500;600;700;800&display=swap");
}

@font-face {
    font-family: Raleway;
    src: url("https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap");
} */

@font-face {
    font-family: Gilroy;
    font-style: normal;
    font-weight: 200 700;
    font-display: swap;
    src: url("../public/fonts/Gilroy-Medium.ttf");
}

@font-face {
    font-family: Bebas;
    font-style: normal;
    font-weight: 200 700;
    font-display: swap;
    src: url("../public/fonts/Bebas-Regular.ttf");
}

@import "tailwindcss";

:root {
    --background: #ffffff;
    --foreground: #171717;
}

@theme {
    --font-manrope: Manrope, "sans-serif";
    --font-raleway: Raleway, "sans-serif";
    --font-gilroy: Gilroy, "sans-serif";
    --font-bebas: Bebas, "sans-serif";
}

@theme inline {
    --color-background: var(--background);
    --color-foreground: var(--foreground);
    --font-sans: var(--font-geist-sans);
    --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
    :root {
        --background: #0a0a0a;
        --foreground: #ededed;
    }
}

body {
    background: var(--background);
    color: var(--foreground);
    font-family: Arial, Helvetica, sans-serif;
    margin:0;
    padding:0;
    overflow-x:hidden;
}

@utility nav-hover-btn {
    @apply relative ms-10 font-gilroy text-xs uppercase text-blue-50 after:absolute after:-bottom-2.5 after:left-0 after:h-[2px] after:w-full after:origin-bottom-right after:scale-x-0 after:bg-white after:transition-transform after:duration-300 after:ease-[cubic-bezier(0.65_0.05_0.36_1)] hover:after:origin-bottom-left hover:after:scale-x-100 cursor-pointer;
}
